/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html{
 }
body{
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13pt;
}

.icon-block {
  padding: 0px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.author{
    font-size: 16pt;
}
.school{
    font-size: 12pt;
}

.title{
    font-size: 20pt;
    font-weight: bold;
}
.subtitle{
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
}

pre{
    font-size: 12pt;
    padding: 10px;
    border-radius: 10px;
    background-color: #EEEEEE;
}


.nav-item{
    font-size: 12pt !important;
}

.navbar-fixed { background-color: rgba(45,45,45,0.5);transition: background-color 2s ease 0s;}
.navbar-fixed.opaque { background-color: rgba(45,45,45,0.5);transition: background-color 2s ease 0s; }


.fa-folder-open{
  color: #f4d275;
}

.footer-copyright{
  background-color: #e0e0e0 !important;
}

.centered-text{
    font-size: 14pt;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.caption{
    font-size: 14pt;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}
.method-tag{
    font-size: 12pt;
    width: 6%;
    color: #224B8D;
}

.method-tag:hover{
    /*font-weight: bold;*/
    color: red;
    cursor: pointer;
}

.img_selector{
    text-align: center;
}

.demo-img{
    min-height: 450px !important;
    /*max-height: 800px !important;*/
}

.note{
    font-size: 12pt;
}

.emphasis{
    font-size: 13pt;
    font-weight: bold;
    color: red;
}